DB_HOST=localhost
DB_PORT=5435
DB_NAME=order_service
DB_USERNAME=order_service
DB_PASSWORD=order_service

SERVER_PORT=8083

JWT_ISSUER_URI=http://keycloak:8080/realms/shopper
JWT_JWK_SET_URI=http://localhost:8082/realms/shopper/protocol/openid-connect/certs
JWT_AUDIENCE=order-service
